<div class="card my-5 {{post_class}} {{#unless feature_image}}no-image{{else}}{{#is "home"}}{{#has index="nth:6"}}post-card-large{{/has}}{{/is}}{{/unless}}">    
    {{#if feature_image}}
    <a href="{{url}}">
        {{!-- This is a responsive image, it loads different sizes depending on device
        https://medium.freecodecamp.org/a-guide-to-responsive-images-with-ready-to-use-templates-c400bd65c433 --}}
        <img class="card-img-top"
            src="{{img_url feature_image size="m"}}"
            alt="{{title}}"
        />
    </a>
    {{/if}}
    <div class="card-body">
        <a class="" href="{{url}}">
            {{#if primary_tag}}
                <span class="post-card-tags">{{primary_tag.name}}</span>
            {{/if}}
            <h2 class="card-title">{{title}}</h2>
            <section class="post-card-excerpt">
                <p>{{excerpt words="33"}}</p>
            </section>
        </a>
    </div>
    <div class="card-footer">
        <div class="row">
            <div class="col">
                <ul class="author-list">
            {{#foreach authors}}
                {{#if profile_image}}
                    <li class="author-list-item"><a href="{{url}}" class="card-link static-avatar" data-toggle="tooltip" title="{{name}}">
                        <img class="author-profile-image" src="{{img_url profile_image size="xs"}}" alt="{{name}}" />
                    </a></li>
                {{else}}
                    <li class="author-list-item"><a href="{{url}}" class="card-link static-avatar author-profile-image">{{> "icons/avatar"}}</a></li>
                {{/if}}
            {{/foreach}}</ul>
            </div>
            <div class="col text-right pt-1 pr-3">
                <span class="text-muted">{{reading_time}}</span>
            </div>
        </div>                
    </div>
</div>
