{{!< default}}

{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

<header class="site-header">
    {{> "site-nav"}}
</header>

{{!-- Everything inside the #post tags pulls data from the post --}}
{{#post}}

<main id="site-main">
    <article class="{{post_class}} {{#unless feature_image}}no-image{{/unless}}">

        <div class="container text-center py-4">
            <div class="row">
                <div class="col-sm">
                    <time datetime="{{date format="YYYY-MM-DD"}}">{{date format="D MMMM YYYY"}}</time>
                    {{#primary_tag}}
                        <span>/</span> <a href="{{url}}">{{name}}</a>
                    {{/primary_tag}}
                    <h1>{{title}}</h1>
                </div>
            </div>
        </div>

        {{#if feature_image}}
        <figure class="post-full-image">
            {{!-- This is a responsive image, it loads different sizes depending on device
            https://medium.freecodecamp.org/a-guide-to-responsive-images-with-ready-to-use-templates-c400bd65c433 --}}
            <img
                srcset="{{img_url feature_image size="s"}} 300w,
                        {{img_url feature_image size="m"}} 600w,
                        {{img_url feature_image size="l"}} 1000w,
                        {{img_url feature_image size="xl"}} 2000w"
                sizes="(max-width: 800px) 400px,
                        (max-width: 1170px) 700px,
                        1400px"
                src="{{img_url feature_image size="xl"}}"
                alt="{{title}}"
            />
        </figure>
        {{/if}}

        <section class="container my-5">
            <div class="post-full-content">
                {{content}}
            </div>
        </section>

        {{!-- Email subscribe form at the bottom of the page --}}
        {{#if @labs.subscribers}}
        <section class="container">
            <div class="jumbotron">
                <h1 class="display-4">Subscribe to {{@site.title}}</h1>
                <p class="lead">Get the latest posts delivered right to your inbox</p>
                {{subscribe_form placeholder="youremail@example.com"}}
            </div>
        </section>
        {{/if}}

        <footer class="post-full-footer">
            <div class="container">

                {{!-- There are two options for how we display the byline/author-info.
                If the post has more than one author, we load a specific template
                from includes/byline-multiple.hbs, otherwise, we just use the
                default byline. --}}

                {{#has author="count:>1"}}
                    {{> "byline-multiple"}}
                {{else}}
                    {{> "byline-single"}}
                {{/has}}

            </div>

        </footer>

        {{!--
        <section class="post-full-comments">
            If you want to embed comments, this is a good place to do it!
        </section>
        --}}

    </article>
</main>

{{!-- Links to Previous/Next posts --}}

<div class="container">
    <div class="card-deck">
        {{#if primary_tag}}
        {{#get "posts" filter="tags:{{primary_tag.slug}}+id:-{{id}}" limit="3" as |related_posts|}}
            {{#if related_posts}}
                <div class="card my-5 text-white text-center read-next-card" 
                    {{#if ../primary_tag.feature_image}}
                        style="background-image: url({{img_url ../primary_tag.feature_image size="m"}})"
                    {{else}}
                        {{#if @site.cover_image}}
                            style="background-image: url({{img_url @site.cover_image size="m"}})"{{/if}}
                    {{/if}}
                >
                    <div class="card-body p-3">
                        <p class="my-2">&mdash; {{@site.title}} &mdash;</p>
                        {{#../primary_tag}}
                        <h2 class="card-title"><a href="{{url}}">{{name}}</a></h2>
                        {{/../primary_tag}}
                        <div class="my-5"><i class="fas fa-infinity fa-5x"></i></div>                            
                        {{#foreach related_posts}}
                            <div class="row">
                                <div class="col-sm-12">
                                    <p class="my-1"><a href="{{url}}">{{title}}</a></p>
                                </div>
                            </div>
                        {{/foreach}}
                    </div>
                    <div class="card-footer">
                        <p class="my-3"><a href="{{#../primary_tag}}{{url}}{{/../primary_tag}}">{{plural meta.pagination.total empty='No posts' singular='% post' plural='See all % posts'}} →</a></p>
                    </div>                        
                </div>
            
        {{/if}}
        {{/get}}
        {{/if}}

        {{!-- If there's a next post, display it using the same markup included from - partials/post-card.hbs --}}
        {{#next_post}}
            {{> "post-card"}}
        {{/next_post}}

        {{!-- If there's a previous post, display it using the same markup included from - partials/post-card.hbs --}}
        {{#prev_post}}
            {{> "post-card"}}
        {{/prev_post}}
    </div>
</div>


{{!-- Floating header which appears on-scroll, included from includes/floating-header.hbs --}}
{{> floating-header}}

{{/post}}

{{!-- The #contentFor helper here will send everything inside it up to the matching #block helper found in default.hbs --}}
{{#contentFor "scripts"}}
<script>

// NOTE: Scroll performance is poor in Safari
// - this appears to be due to the events firing much more slowly in Safari.
//   Dropping the scroll event and using only a raf loop results in smoother
//   scrolling but continuous processing even when not scrolling
$(document).ready(function () {
    // Start fitVids
    var $postContent = $(".post-full-content");
    $postContent.fitVids();
    // End fitVids

});
</script>
{{/contentFor}}
